---
import { attachRouteDataAndRunMiddleware } from '../../node_modules/@astrojs/starlight/utils/routing/middleware';
import {
  generateStarlightPageRouteData,
  type StarlightPageProps as Props,
} from '../../node_modules/@astrojs/starlight/utils/starlight-page';

await attachRouteDataAndRunMiddleware(
  Astro,
  await generateStarlightPageRouteData({ props: Astro.props, url: Astro.url })
);

// Built-in CSS styles.
import '../../node_modules/@astrojs/starlight/style/props.css';
import '../assets/styles/starlight/reset.css';
import '../../node_modules/@astrojs/starlight/style/shiki.css';
import '../../node_modules/@astrojs/starlight/style/util.css';

import Banner from "@astrojs/starlight/components/Banner.astro";
import ContentPanel from "@astrojs/starlight/components/ContentPanel.astro";
import DraftContentNotice from "@astrojs/starlight/components/DraftContentNotice.astro";
import FallbackContentNotice from "@astrojs/starlight/components/FallbackContentNotice.astro";
import Footer from "@astrojs/starlight/components/Footer.astro";
import Hero from "@astrojs/starlight/components/Hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import MarkdownContent from '@astrojs/starlight/components/MarkdownContent.astro';
import PageTitle from "@astrojs/starlight/components/PageTitle.astro";
import TwoColumnContent from "@astrojs/starlight/components/TwoColumnContent.astro";

// Remark component CSS (needs to override `MarkdownContent.astro`)
import '../../node_modules/@astrojs/starlight/style/asides.css';

// Important that this is the last import so it can override built-in styles.
import 'virtual:starlight/user-css';

const { starlightRoute } = Astro.locals;

// disables page-sidebar (the right-side one)
starlightRoute.toc = undefined;
---

<MainLayout>
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <TwoColumnContent>
      <main>
        <ContentPanel>
          <MarkdownContent>
            <slot />
          </MarkdownContent>
        </ContentPanel>
      </main>
    </TwoColumnContent>
  </div>

</MainLayout>
